body {
    background-color: #000000;
}

.first-section {
    width: 100%;
    height: 45rem;
}

.navbar {
    font-size: 3rem;
    font-family: WickedSeventies, serif;
    color: white;
    position: absolute;
}

.navbar-brand{
    font-size: 3rem;
    font-family: WickedSeventies, serif;
}

.header-title {
    align-content: center;
}

.header-name {
    font-size: 10rem;
    font-family: WickedSeventies, serif;
    color: black;

}
.header-description {
    font-size: 2rem;
    font-family: "Bebas Neue", sans-serif;
    color: black;
}


.second-section {
    width:100%;
    height: 30rem;
}

h1 {
    font-size: 8rem;
    font-family: WickedSeventies, serif;
    text-align: center;
}

.bio-text {
    color: white;
    margin-top: 3em;
    padding: 2em;
    align-content: center;
    text-align: left;
}


.portfolio-image img {
    padding: 15px;
    width: 100%;
    cursor: pointer;
    transition: 0.3s;

}

.portfolio-image:hover {opacity: 0.7;}

main {
    color: white;
}

label {
    display: block;
    margin: 1em;
    color: white;
}

.logo {
    width: 2.5%;
    height: 2.5%;
    margin: 1em;
}


/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-img {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}
